{% load livecomponents %}
{% component_ancestor component_id "wizardfloorplan/root" as root_id %}

<div {% component_attrs component_id %}>
  <form>
    <fieldset>
      <legend>Choose an option:</legend>
      <div style="display: flex; gap: 1rem;">
        <input type="radio"
               id="option2d"
               name="dimension"
               value={{ dimension_2D }} hidden
               {% if floor_plan_order.dimension == dimension_2D %}checked{% endif %}
               hx-post="{% call_command root_id 'edit_step1' %}"
               hx-trigger="change">
        <label for="option2d"
               style="cursor:pointer; display: flex; flex-direction: column; align-items: center; justify-content: center;">
          <i class="fa-solid fa-house"></i>
          <p style="margin-top: 1rem">2D ({{ price_2D }}€)</p>
        </label>

        <input type="radio"
               id="option3d"
               name="dimension"
               value={{ dimension_3D }} hidden
               {% if floor_plan_order.dimension == dimension_3D %}checked{% endif %}
               hx-post="{% call_command root_id 'edit_step1' %}"
               hx-trigger="change">
        <label for="option3d"
               style="cursor:pointer; display: flex; flex-direction: column; align-items: center; justify-content: center;">
          <i class="fa-solid fa-building"></i>
          <p style="margin-top: 1rem">3D ({{ price_3D }}€)</p>
        </label>
      </div>
    </fieldset>
  </form>
  <button hx-post="{% call_command root_id 'set_step' %}"
          hx-vals='{"step": 2}'
          style="margin-top: 1rem; width: 150px;">Continue
  </button>

</div>

<style>
  /* Highlight selected label */
  input[type="radio"]:checked + label {
    border: 2px solid var(--primary);
    border-radius: 0.5rem;
    padding: 0.5rem;
  }

  label {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: border 0.2s;
  }
</style>